@model WebAppCinema.Models.Sessao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sessao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHoraFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHoraFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorInteiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorInteiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMeia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMeia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encerrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encerrada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SessaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
