@model IEnumerable<WebAppCinema.Models.Sessao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateHoraFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorInteiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMeia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encerrada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateHoraFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorInteiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorMeia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encerrada)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SessaoId }, new { @Class = "btn btn-warning" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.SessaoId }, new { @Class = "btn btn-info" }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.SessaoId }, new { @Class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
